$basic-color-black: #000000;
$basic-color-white: #ffffff;
$basic-color-negative: #EC6F5D;
$main-regular: #323264;
$main-alt: #46466e;
$main-soft: #686887;
$accent-regular: #f0145a;
$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
$grey-bg: #f5f5fa;
$grey-bgalt: #ededf7;
$grey-text: #B3B3BA;
$grey-separator: #e6e6f0;
$gradient-regular: linear-gradient(128.63deg, $main-regular 0%, $main-regular 73.96%, #a54b5f 100%);
$gradient-soft: linear-gradient(42.01deg, $main-regular 14.33%, $main-regular 51.39%, #7a425e 87.53%);
$gradient-red: linear-gradient(323.35deg, $accent-regular 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, $main-regular 11.93%, $main-regular 57.17%, #643e72 87.46%);
$gradient-redtext: linear-gradient(90.13deg, $accent-regular 0.84%, #ef8080 99.96%);