@import "_tags.scss";
@import "_svg.scss";
@import "_header_footer.scss";
@import "_AboutUs.scss";

@media (min-width: $tabletSD) {

}

;

@media (min-width: $tabletHD) {

}

;

@media (min-width: $desktopSD) {

}

;

@media (min-width: $desktopHD) {

}

;