@import "_settings.scss";

// mixin

@mixin svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor($DivWidth, $DivHeight, $DivBg, $SvgWidth, $SvgHeight, $PathColor) {
    width: $DivWidth;
    height: $DivHeight;
    background: $DivBg;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 11.62px;
    min-height: 24px;


    svg {
        width: $SvgWidth;
        height: $SvgHeight;
        display: inline-flex;
        position: relative;
        min-width: 11.62px;
        min-height: 18px;
        max-width: 100%;
        max-height: 100%;

        path {
            fill: $PathColor;
            stroke: $PathColor;
        }
    }
}

;

@mixin svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor-strokenone($DivWidth, $DivHeight, $DivBg, $SvgWidth, $SvgHeight, $PathColor) {
    width: $DivWidth;
    height: $DivHeight;
    background: $DivBg;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 11.62px;
    min-height: 24px;


    svg {
        width: $SvgWidth;
        height: $SvgHeight;
        display: inline-flex;
        position: relative;
        min-width: 11.62px;
        min-height: 18px;
        max-width: 100%;
        max-height: 100%;

        path {
            fill: $PathColor;
        }
    }
}

;

@mixin logo-slach-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild($DivWidth, $DivHeight, $DivBg, $PathColorFerstChild, $Pathcolor) {
    width: $DivWidth;
    height: $DivHeight;
    background: $DivBg;
    display: inline-flex;
    position: relative;
    min-width: 84.95px;
    min-height: 32px;
    align-items: center;
    justify-content: center;

    span {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        position: absolute;
        min-width: 84.95px;
        min-height: 32px;
        justify-content: space-between;
        aspect-ratio: 2.6546875/1;

        .hlegal {
            max-width: 81.612713%;
            max-height: 100%;
            display: inline-flex;
        }

        ;

        .slash {
            max-width: 13.678634%;
            max-height: 81.25%;
            display: inline-flex;
        }

        svg {
            path {
                fill: $Pathcolor;
            }

            :first-child {
                fill: $PathColorFerstChild;
            }
        }
    }
}

;

@mixin logo-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild($DivWidth, $DivHeight, $DivBg, $PathColorFerstChild, $Pathcolor) {
    width: $DivWidth;
    height: $DivHeight;
    background: $DivBg;
    display: inline-flex;
    position: relative;
    min-width: 69.33px;
    min-height: 32px;
    align-items: center;
    justify-content: center;

    .hlegal {
        max-width: 100%;
        max-height: 100%;
        display: inline-flex;
    }

    ;

    svg {
        path {
            fill: $Pathcolor;
        }

        :first-child {
            fill: $PathColorFerstChild;
        }
    }

}

;
//svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor-strokenone

.svg-32x32bgnone-32x32-AcRe {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor-strokenone(32px, 32px, none, 32px, 32px, $accent-regular);
}

;

// svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor

.svg-21x47bgnone-21x47-AcRe {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(21px, 47px, none, 21px, 47px, $accent-regular);
}

;

.svg-1162x26bgnone-1162x26-AcRe-media21x47 {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(11.62px, 26px, none, 11.62px, 26px, $accent-regular);

    @media (min-width: $tabletSD) {
        @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(21px, 47px, none, 21px, 47px, $accent-regular);
    }

    ;
}

;

.svg-32x32bgnone-32x32-BaCoNe {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(32px, 32px, none, 32px, 32px, $basic-color-negative);

}

;

.svg-32x32bgnone-32x32-MaRe-active {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(32px, 32px, none, 32px, 32px, $main-regular);

    &:active {
        @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(32px, 32px, $grey-separator, 32px, 32px, $main-regular);
        border-radius: 8px;
    }
}

;

.svg-38x38bgnone-38x38-ActRe-hover-AccRe {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(38px, 38px, none, 38px, 38px, $active-regular);

    &:hover {
        @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(38px, 38px, none, 38px, 38px, $accent-regular);
    }
}

;

.svg-50x50bgnone-38x38-MaRe {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(50px, 50px, none, 38px, 38px, $accent-regular);

    &:hover {
        @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(55px, 55px, none, 338px, 338px, $main-regular);
    }

    &:active {
        @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(55px, 55px, none, 338px, 338px, $basic-color-black);
    }
}

;

.svg-24x24bgnone-24x24-GrTx {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(24px, 24px, none, 24px, 24px, $grey-text);
}

;

.svg-24x25bgnone-24x24-GrTx {
    @include svg-DivWidthDivHeightDivBg-SvgWidthSvgHeight-PathColor(24px, 25px, none, 24px, 24px, $grey-text);
}

;

// logo-slach-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild

.log-10x10bgnone-AcRe-MaRe {
    @include logo-slach-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild(10px, 10px, none, $accent-regular, $main-regular);
}

;

.log-100x100bgnone-AcRe-MaRe {
    @include logo-slach-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild(100px, 100px, none, $accent-regular, $main-regular);
}

;

.log-130x60bgnone-AcRe-MaRe {
    @include logo-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild(130px, 60px, none, $accent-regular, $main-regular);
}

;

.log-6933x32bgnone-AcRe-MaRe-media130x60 {
    @include logo-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild(69.33px, 32px, none, $accent-regular, $main-regular);

    @media (min-width: $tabletSD) {
        @include logo-DivWidthDivHeightDivBg-PathColorFerstChild-PathcolorEndChild(130px, 60px, none, $accent-regular, $main-regular);
    }

    ;
}

;

.log-slash-namepage-inter4px {
    display: inline-flex;
    align-items: flex-start;

    :nth-child(2n) {
        margin: 0 4px;
    }
}

;