@import "_colors.scss";
@import "_fonts.scss";

div {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: inline-block;
}

svg {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: "Montserrat";
    font-style: normal;
}
h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h2,
h3,
h4 {
    color: map-get($main, regular);
}
p,
li,
a {
    font-weight: 400;
}
p,
a {
    font-size: 16px;
    height: 100%;
}
::marker {
    color: map-get($accent, regular);
    font-weight: 700;
}
li,
::marker {
    font-size: 18px;
    line-height: 144%;
    // or 26px
}

h1,
.hero,
.h1 {
    font-size: 38px;
    line-height: 46px;
    background: map-get($gradient, redtext);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
h2,
.h2 {
    font-size: 30px;
    line-height: 37px;
}
h3,
.h3 {
    font-size: 22px;
    line-height: 27px;
    &.caps {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
h4,
.h4 {
    font-size: 16px;
    line-height: 20px;
}
p,
.p {
    line-height: 162%;
    // or 26px
    color: #000000;
}
li {
    color: #000000;
}
a {
    line-height: 20px;
    color: map-get($active, regular);
    text-decoration: none;
    &:hover {
        color: map-get($accent, regular);
    }
}
