$main: (
    regular: #323264,
    alt: #46466e,
    soft: #686887,
);
$accent: (
    regular: #f0145a,
);
$active: (
    regular: #24a3ff,
    hover: #0085ff,
    active: #006ccf,
);
$grey: (
    bg: #f5f5fa,
    bgalt: #ededf7,
    text: #ededf7,
    separator: #e6e6f0,
);
$gradient: (
    regular: linear-gradient(128.63deg, map-get($main, regular) 0%, map-get($main, regular) 73.96%, #a54b5f 100%),
    soft: linear-gradient(42.01deg, map-get($main, regular) 14.33%, map-get($main, regular) 51.39%, #7a425e 87.53%),
    red: linear-gradient(323.35deg, map-get($accent, regular) 6.7%, #693264 70.36%),
    supersoft:
        linear-gradient(228.57deg, map-get($main, regular) 11.93%, map-get($main, regular) 57.17%, #643e72 87.46%),
    redtext: linear-gradient(90.13deg, map-get($accent, regular) 0.84%, #ef8080 99.96%),
);
