@import "_media.scss";

.content {
    position: relative;
    margin: 132px 30px 0;

    .Introduction {
        min-height: 274px;
    }

    ;

    .TeamText {
        display: flex;
        position: relative;
        margin: 30px -30px 0;
        width: 100vw;
        min-height: 114.06px;
        background: no-repeat center/cover url(../images/photo/Team.svg);
        align-items: center;
        justify-content: center;
        aspect-ratio: 375/114.06;



        h2 {
            position: absolute;
            font-size: 36px;
            letter-spacing: 13px;
            text-transform: uppercase;
            color: $basic-color-white;
            opacity: 0.8;
            text-shadow: 0px 15px 30px rgb(40 40 86 / 80%);
        }

        ;
    }

    ;

    .achievements {
        display: flex;
        margin: 60px -30px -3px;
        width: 100vw;
        min-height: 243px;
        background-color: $grey-bg;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .Pagination {
            ul>li>label>svg>circle:hover {
                opacity: 0.6;
            }

            ;
        }

        ;

        div {
            .achievementsimg {
                display: none;
                background-color: $basic-color-white;
                height: 90px;
                width: 255px;


                div {
                    height: 90px;
                    width: 255px;
                }

                ;


            }

            ;

            :first-child {
                display: inline-block;
            }

            ;

        }

        ;

        .Pagination {
            ul {
                list-style-type: none;
                display: flex;
                align-items: center;

                li {
                    label {
                        cursor: pointer;

                    }

                    ;
                }

                ;

                :nth-child(2n) {
                    margin: auto 14px;
                }

                ;

                :last-child {
                    margin-right: 0;
                }

                ;
            }

            ;
        }

        ;

        #achievements__tab1:checked~.achievementsimgblock {
            .img1 {
                div {
                    background: no-repeat center/auto url(../images/Assets/Achievments/Achievment-1.png);
                }

                ;
            }

            ;
        }

        ;


        #achievements__tab2:checked~.achievementsimgblock {
            .img1 {
                div {
                    background: no-repeat center/auto url(../images/Assets/Achievments/Achievment-2.png);
                }

                ;
            }

            ;
        }

        ;

        #achievements__tab3:checked~.achievementsimgblock {
            .img1 {
                div {
                    background: no-repeat center/auto url(../images/Assets/Achievments/Achievment-3.png);
                }

                ;
            }

            ;
        }

        ;

        #achievements__tab4:checked~.achievementsimgblock {
            .img1 {
                div {
                    background: no-repeat center/auto url(../images/Assets/Achievments/Achievment-4.png);
                }

                ;
            }

            ;
        }

        ;

        #achievements__tab1:checked~.Pagination {
            ul>li {
                .circle__tab1 {
                    svg>circle {
                        fill: $active-regular;
                        opacity: 1;
                    }

                    ;
                }

                ;
            }

            ;

        }

        ;

        #achievements__tab2:checked~.Pagination {
            ul>li {
                .circle__tab2 {
                    svg>circle {
                        fill: $active-regular;
                        opacity: 1;
                    }

                    ;
                }

                ;
            }

            ;

        }

        ;

        #achievements__tab3:checked~.Pagination {
            ul>li {
                .circle__tab3 {
                    svg>circle {
                        fill: $active-regular;
                        opacity: 1;
                    }

                    ;
                }

                ;
            }

            ;

        }

        ;

        #achievements__tab4:checked~.Pagination {
            ul>li {
                .circle__tab4 {
                    svg>circle {
                        fill: $active-regular;
                        opacity: 1;
                    }

                    ;
                }

                ;
            }

            ;

        }

        ;

        input {
            display: none;
        }

        ;
    }

    ;

}

;

html {
    overflow-x: hidden;

}

;