// colors

$basic-color-black: #000000;
$basic-color-white: #ffffff;
$basic-color-negative: #EC6F5D;
$main-regular: #323264;
$main-alt: #46466e;
$main-soft: #686887;
$accent-regular: #f0145a;
$active-regular: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
$grey-bg: #f5f5fa;
$grey-bgalt: #ededf7;
$grey-text: #B3B3BA;
$grey-separator: #e6e6f0;
$gradient-regular: linear-gradient(128.63deg, $main-regular 0%, $main-regular 73.96%, #a54b5f 100%);
$gradient-soft: linear-gradient(42.01deg, $main-regular 14.33%, $main-regular 51.39%, #7a425e 87.53%);
$gradient-red: linear-gradient(323.35deg, $accent-regular 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, $main-regular 11.93%, $main-regular 57.17%, #643e72 87.46%);
$gradient-redtext: linear-gradient(90.13deg, $accent-regular 0.84%, #ef8080 99.96%);

// media rules

$mobile: 375px;
$tabletSD: 768px;
$tabletHD: 1024px;
$desktopSD: 1440px;
$desktopHD: 1920px;

//  Front-size

.Fs36 {
    font-size: 36px;
}

;

.Fs30 {
    font-size: 30px;

}

;

.Fs19 {
    font-size: 19px;
}

;

// Line-height

.Lh20 {
    line-height: 20px;
}

;

.Lh37 {
    line-height: 37px;
}

;

.Lh44 {
    line-height: 44px;
}

;

.Lh158 {
    line-height: 158%;
}

;

// Margin

.MarTop28 {
    margin-top: 28px;
}

;

.MarTop30 {
    margin-top: 30px;
}

;

.MarTop40 {
    margin-top: 40px;
}

;

.MarTop60 {
    margin-top: 60px;
}

;

.MarLeft34 {
    margin-left: 34px;
}

;

.Marright8 {
    margin-right: 8px;
}

;

// border

.BorLeft4-GrSe {
    border-left: 4px solid $grey-separator;
}

;

// Display 

.DisInl {
    display: inline;
}

;

.flex-center {
    display: flex;
    align-items: center;
}

;

// Color

.Col-MaRe {
    color: $main-regular;
}

;