div.logo {
  min-width: 84.95px;
  min-height: 32px;
  position: relative;
}
div.logo a {
  display: Flex;
  position: absolute;
  justify-content: space-between;
}
div.logo a .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
}
div.logo a .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
}

.logo1 {
  width: 84.95px;
  height: 32px;
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}
.logo1 .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
}
.logo1 .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
}
.logo1 svg path {
  fill: red;
}
.logo1 svg :first-child {
  fill: green;
}