@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
div {
  display: inline-block;
}

svg {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat";
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h2,
h3,
h4 {
  color: #323264;
}

p,
li,
a {
  font-weight: 400;
}

p,
a {
  font-size: 16px;
  height: 100%;
}

::marker {
  color: #f0145a;
  font-weight: 700;
}

li,
::marker {
  font-size: 18px;
  line-height: 144%;
}

h1,
.hero,
.h1 {
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 37px;
}

h3,
.h3 {
  font-size: 22px;
  line-height: 27px;
}
h3.caps,
.h3.caps {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
}

p,
.p {
  line-height: 162%;
  color: #000000;
}

li {
  color: #000000;
}

a {
  line-height: 20px;
  color: #24a3ff;
  text-decoration: none;
}
a:hover {
  color: #f0145a;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.log-slash-namepage-inter4px {
  display: inline-flex;
  align-items: flex-start;
}
.log-slash-namepage-inter4px :nth-child(2n) {
  margin: 0 4px;
}

.svg-50x50bgnone-38x38-MaRe {
  width: 50px;
  height: 50px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe svg {
  width: 38px;
  height: 38px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe svg path {
  fill: #f0145a;
  stroke: #f0145a;
}
.svg-50x50bgnone-38x38-MaRe:hover {
  width: 55px;
  height: 55px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe:hover svg {
  width: 338px;
  height: 338px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe:hover svg path {
  fill: #323264;
  stroke: #323264;
}
.svg-50x50bgnone-38x38-MaRe:active {
  width: 55px;
  height: 55px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe:active svg {
  width: 338px;
  height: 338px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe:active svg path {
  fill: #000000;
  stroke: #000000;
}

.log-10x10bgnone-AcRe-MaRe {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 84.95px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-10x10bgnone-AcRe-MaRe span {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: absolute;
  min-width: 84.95px;
  min-height: 32px;
  justify-content: space-between;
  aspect-ratio: 2.6546875/1;
}
.log-10x10bgnone-AcRe-MaRe span .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
  display: inline-flex;
}
.log-10x10bgnone-AcRe-MaRe span .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
  display: inline-flex;
}
.log-10x10bgnone-AcRe-MaRe span svg path {
  fill: #323264;
}
.log-10x10bgnone-AcRe-MaRe span svg :first-child {
  fill: #f0145a;
}

.log-100x100bgnone-AcRe-MaRe {
  width: 100px;
  height: 100px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 84.95px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-100x100bgnone-AcRe-MaRe span {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: absolute;
  min-width: 84.95px;
  min-height: 32px;
  justify-content: space-between;
  aspect-ratio: 2.6546875/1;
}
.log-100x100bgnone-AcRe-MaRe span .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
  display: inline-flex;
}
.log-100x100bgnone-AcRe-MaRe span .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
  display: inline-flex;
}
.log-100x100bgnone-AcRe-MaRe span svg path {
  fill: #323264;
}
.log-100x100bgnone-AcRe-MaRe span svg :first-child {
  fill: #f0145a;
}

.log-130x60bgnone-AcRe-MaRe {
  width: 130px;
  height: 60px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 69.33px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-130x60bgnone-AcRe-MaRe .hlegal {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}
.log-130x60bgnone-AcRe-MaRe svg path {
  fill: #323264;
}
.log-130x60bgnone-AcRe-MaRe svg :first-child {
  fill: #f0145a;
}

.log-6933x32bgnone-AcRe-MaRe {
  width: 69.33px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 69.33px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-6933x32bgnone-AcRe-MaRe .hlegal {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}
.log-6933x32bgnone-AcRe-MaRe svg path {
  fill: #323264;
}
.log-6933x32bgnone-AcRe-MaRe svg :first-child {
  fill: #f0145a;
}

.svg-21x47bgnone-21x47-AcRe {
  width: 21px;
  height: 47px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-21x47bgnone-21x47-AcRe svg {
  width: 21px;
  height: 47px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-21x47bgnone-21x47-AcRe svg path {
  fill: #f0145a;
  stroke: #f0145a;
}

.svg-1162x26bgnone-1162x26-AcRe {
  width: 11.62px;
  height: 26px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-1162x26bgnone-1162x26-AcRe svg {
  width: 11.62px;
  height: 26px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-1162x26bgnone-1162x26-AcRe svg path {
  fill: #f0145a;
  stroke: #f0145a;
}

.svg-32x32bgnone-32x32-MaRe-active {
  width: 32px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32bgnone-32x32-MaRe-active svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-MaRe-active svg path {
  fill: #323264;
  stroke: #323264;
}
.svg-32x32bgnone-32x32-MaRe-active:active {
  width: 32px;
  height: 32px;
  background: #e6e6f0;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
  border-radius: 8px;
}
.svg-32x32bgnone-32x32-MaRe-active:active svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-MaRe-active:active svg path {
  fill: #323264;
  stroke: #323264;
}

.NamePage-height44-fs36-lh44-MaRe {
  height: 44px;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
  display: inline-flex;
  position: relative;
  margin-block: 0px;
}

.header {
  position: fixed;
  min-width: 250px;
}
.header .boxgrey {
  z-index: -1;
  display: flex;
  height: 0px;
  width: 100vw;
  height: 45px;
  background: #f5f5fa;
}
.header .boxwhite {
  z-index: -1;
  display: flex;
  height: 0px;
  width: 100%;
  height: 57px;
  background: #ffffff;
}
.header .language-page {
  position: absolute;
  left: 15px;
  top: 10px;
}
.header .language-page :nth-child(1n) {
  width: 19px;
  height: 15px;
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #B3B3BA;
}
.header .language-page .active-language {
  color: #ffffff;
  width: 33px;
  height: 25px;
  background: #f0145a;
  border-radius: 8px;
}
.header .contact-information {
  list-style-type: disc;
  float: right;
  position: absolute;
  right: 15px;
  top: 12.5px;
}
.header .contact-information :nth-child(odd) {
  display: none;
  color: #B3B3BA;
}
.header .contact-information :nth-child(2n) {
  display: inline-block;
  line-height: 20px;
}
.header .contact-information :nth-child(2n) :first-child {
  display: inline-block;
  font-weight: 700;
}
.header .log-slash-namepage-inter4px {
  position: absolute;
  left: 15px;
  top: 57.5px;
}
.header .log-slash-namepage-inter4px .NamePage-height44-fs36-lh44-MaRe {
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  display: inline-flex;
  position: relative;
  margin-block: 0px;
}
.header .hamburgersvg {
  position: absolute;
  float: right;
  top: 57.5px;
  right: 15px;
}
.header input,
.header .hamburgermenu {
  display: none;
  position: absolute;
  top: 0;
}
.header input:checked ~ .hamburgermenu {
  min-height: 162px;
  display: flex;
  background: #323264;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.header input:checked ~ .hamburgermenu div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  gap: 20px;
  position: absolute;
  width: calc(100vw - 16px - 24px);
  right: 8px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}
.header input:checked ~ .hamburgermenu div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  align-self: center;
  justify-content: space-between;
}
.header input:checked ~ .hamburgermenu div ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw + 335px - 375px);
  height: 6.4467766vh;
  padding: 7px 0px;
  background: #f5f5fa;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  min-height: 20px;
  max-height: 43px;
}

.boxheader {
  content: "";
  height: 102px;
}