.Fs36 {
  font-size: 36px;
}

.Fs30 {
  font-size: 30px;
}

.Fs19 {
  font-size: 19px;
}

.Lh20 {
  line-height: 20px;
}

.Lh37 {
  line-height: 37px;
}

.Lh44 {
  line-height: 44px;
}

.Lh158 {
  line-height: 158%;
}

.MarTop28 {
  margin-top: 28px;
}

.MarTop30 {
  margin-top: 30px;
}

.MarTop40 {
  margin-top: 40px;
}

.MarTop60 {
  margin-top: 60px;
}

.MarLeft34 {
  margin-left: 34px;
}

.Marright8 {
  margin-right: 8px;
}

.BorLeft4-GrSe {
  border-left: 4px solid #e6e6f0;
}

.DisInl {
  display: inline;
}

.flex-center {
  display: flex;
  align-items: center;
}

.Col-MaRe {
  color: #323264;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: italic;
}
div {
  display: inline-block;
}

svg {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Montserrat";
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h2,
h3,
h4 {
  color: #323264;
}

p,
li,
a {
  font-weight: 400;
}

p,
a {
  font-size: 16px;
  height: 100%;
}

::marker {
  color: #f0145a;
  font-weight: 700;
}

li {
  font-size: 18px;
  line-height: 144%;
}

h1,
.hero,
.h1 {
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2,
.h2 {
  font-size: 30px;
  line-height: 37px;
}

h3,
.h3 {
  font-size: 22px;
  line-height: 27px;
}
h3.caps,
.h3.caps {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
}

p,
.p {
  line-height: 162%;
  color: #000000;
}

li {
  color: #000000;
}

a {
  line-height: 20px;
  color: #24a3ff;
  text-decoration: none;
}
a:hover {
  color: #f0145a;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.Fs36 {
  font-size: 36px;
}

.Fs30 {
  font-size: 30px;
}

.Fs19 {
  font-size: 19px;
}

.Lh20 {
  line-height: 20px;
}

.Lh37 {
  line-height: 37px;
}

.Lh44 {
  line-height: 44px;
}

.Lh158 {
  line-height: 158%;
}

.MarTop28 {
  margin-top: 28px;
}

.MarTop30 {
  margin-top: 30px;
}

.MarTop40 {
  margin-top: 40px;
}

.MarTop60 {
  margin-top: 60px;
}

.MarLeft34 {
  margin-left: 34px;
}

.Marright8 {
  margin-right: 8px;
}

.BorLeft4-GrSe {
  border-left: 4px solid #e6e6f0;
}

.DisInl {
  display: inline;
}

.flex-center {
  display: flex;
  align-items: center;
}

.Col-MaRe {
  color: #323264;
}

.svg-32x32bgnone-32x32-AcRe {
  width: 32px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32bgnone-32x32-AcRe svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-AcRe svg path {
  fill: #f0145a;
}

.svg-21x47bgnone-21x47-AcRe {
  width: 21px;
  height: 47px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-21x47bgnone-21x47-AcRe svg {
  width: 21px;
  height: 47px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-21x47bgnone-21x47-AcRe svg path {
  fill: #f0145a;
  stroke: #f0145a;
}

.svg-1162x26bgnone-1162x26-AcRe-media21x47 {
  width: 11.62px;
  height: 26px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-1162x26bgnone-1162x26-AcRe-media21x47 svg {
  width: 11.62px;
  height: 26px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-1162x26bgnone-1162x26-AcRe-media21x47 svg path {
  fill: #f0145a;
  stroke: #f0145a;
}
@media (min-width: 768px) {
  .svg-1162x26bgnone-1162x26-AcRe-media21x47 {
    width: 21px;
    height: 47px;
    background: none;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 11.62px;
    min-height: 24px;
  }
  .svg-1162x26bgnone-1162x26-AcRe-media21x47 svg {
    width: 21px;
    height: 47px;
    display: inline-flex;
    position: relative;
    min-width: 11.62px;
    min-height: 18px;
    max-width: 100%;
    max-height: 100%;
  }
  .svg-1162x26bgnone-1162x26-AcRe-media21x47 svg path {
    fill: #f0145a;
    stroke: #f0145a;
  }
}

.svg-32x32bgnone-32x32-BaCoNe {
  width: 32px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32bgnone-32x32-BaCoNe svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-BaCoNe svg path {
  fill: #EC6F5D;
  stroke: #EC6F5D;
}

.svg-32x32bgnone-32x32-MaRe-active {
  width: 32px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32bgnone-32x32-MaRe-active svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-MaRe-active svg path {
  fill: #323264;
  stroke: #323264;
}
.svg-32x32bgnone-32x32-MaRe-active:active {
  width: 32px;
  height: 32px;
  background: #e6e6f0;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
  border-radius: 8px;
}
.svg-32x32bgnone-32x32-MaRe-active:active svg {
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32bgnone-32x32-MaRe-active:active svg path {
  fill: #323264;
  stroke: #323264;
}

.svg-32x32GrBg-7x14-AcRe-hover {
  width: 32px;
  height: 32px;
  background: #f5f5fa;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32GrBg-7x14-AcRe-hover svg {
  width: 7px;
  height: 14px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32GrBg-7x14-AcRe-hover svg path {
  stroke: #24a3ff;
}
.svg-32x32GrBg-7x14-AcRe-hover:hover {
  width: 32px;
  height: 32px;
  background: #ededf7;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-32x32GrBg-7x14-AcRe-hover:hover svg {
  width: 7px;
  height: 14px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-32x32GrBg-7x14-AcRe-hover:hover svg path {
  stroke: #f0145a;
}

.svg-38x38bgnone-38x38-ActRe-hover-AccRe {
  width: 38px;
  height: 38px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-38x38bgnone-38x38-ActRe-hover-AccRe svg {
  width: 38px;
  height: 38px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-38x38bgnone-38x38-ActRe-hover-AccRe svg path {
  fill: #24a3ff;
  stroke: #24a3ff;
}
.svg-38x38bgnone-38x38-ActRe-hover-AccRe:hover {
  width: 38px;
  height: 38px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-38x38bgnone-38x38-ActRe-hover-AccRe:hover svg {
  width: 38px;
  height: 38px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-38x38bgnone-38x38-ActRe-hover-AccRe:hover svg path {
  fill: #f0145a;
  stroke: #f0145a;
}

.svg-50x50bgnone-38x38-MaRe {
  width: 50px;
  height: 50px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe svg {
  width: 38px;
  height: 38px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe svg path {
  fill: #f0145a;
  stroke: #f0145a;
}
.svg-50x50bgnone-38x38-MaRe:hover {
  width: 55px;
  height: 55px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe:hover svg {
  width: 338px;
  height: 338px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe:hover svg path {
  fill: #323264;
  stroke: #323264;
}
.svg-50x50bgnone-38x38-MaRe:active {
  width: 55px;
  height: 55px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-50x50bgnone-38x38-MaRe:active svg {
  width: 338px;
  height: 338px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-50x50bgnone-38x38-MaRe:active svg path {
  fill: #000000;
  stroke: #000000;
}

.svg-24x24bgnone-24x24-GrTx {
  width: 24px;
  height: 24px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-24x24bgnone-24x24-GrTx svg {
  width: 24px;
  height: 24px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-24x24bgnone-24x24-GrTx svg path {
  fill: #B3B3BA;
  stroke: #B3B3BA;
}

.svg-24x25bgnone-24x24-GrTx {
  width: 24px;
  height: 25px;
  background: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 11.62px;
  min-height: 24px;
}
.svg-24x25bgnone-24x24-GrTx svg {
  width: 24px;
  height: 24px;
  display: inline-flex;
  position: relative;
  min-width: 11.62px;
  min-height: 18px;
  max-width: 100%;
  max-height: 100%;
}
.svg-24x25bgnone-24x24-GrTx svg path {
  fill: #B3B3BA;
  stroke: #B3B3BA;
}

.log-10x10bgnone-AcRe-MaRe {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 84.95px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-10x10bgnone-AcRe-MaRe span {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: absolute;
  min-width: 84.95px;
  min-height: 32px;
  justify-content: space-between;
  aspect-ratio: 2.6546875/1;
}
.log-10x10bgnone-AcRe-MaRe span .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
  display: inline-flex;
}
.log-10x10bgnone-AcRe-MaRe span .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
  display: inline-flex;
}
.log-10x10bgnone-AcRe-MaRe span svg path {
  fill: #323264;
}
.log-10x10bgnone-AcRe-MaRe span svg :first-child {
  fill: #f0145a;
}

.log-100x100bgnone-AcRe-MaRe {
  width: 100px;
  height: 100px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 84.95px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-100x100bgnone-AcRe-MaRe span {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: absolute;
  min-width: 84.95px;
  min-height: 32px;
  justify-content: space-between;
  aspect-ratio: 2.6546875/1;
}
.log-100x100bgnone-AcRe-MaRe span .hlegal {
  max-width: 81.612713%;
  max-height: 100%;
  display: inline-flex;
}
.log-100x100bgnone-AcRe-MaRe span .slash {
  max-width: 13.678634%;
  max-height: 81.25%;
  display: inline-flex;
}
.log-100x100bgnone-AcRe-MaRe span svg path {
  fill: #323264;
}
.log-100x100bgnone-AcRe-MaRe span svg :first-child {
  fill: #f0145a;
}

.log-130x60bgnone-AcRe-MaRe {
  width: 130px;
  height: 60px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 69.33px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-130x60bgnone-AcRe-MaRe .hlegal {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}
.log-130x60bgnone-AcRe-MaRe svg path {
  fill: #323264;
}
.log-130x60bgnone-AcRe-MaRe svg :first-child {
  fill: #f0145a;
}

.log-6933x32bgnone-AcRe-MaRe-media130x60 {
  width: 69.33px;
  height: 32px;
  background: none;
  display: inline-flex;
  position: relative;
  min-width: 69.33px;
  min-height: 32px;
  align-items: center;
  justify-content: center;
}
.log-6933x32bgnone-AcRe-MaRe-media130x60 .hlegal {
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}
.log-6933x32bgnone-AcRe-MaRe-media130x60 svg path {
  fill: #323264;
}
.log-6933x32bgnone-AcRe-MaRe-media130x60 svg :first-child {
  fill: #f0145a;
}
@media (min-width: 768px) {
  .log-6933x32bgnone-AcRe-MaRe-media130x60 {
    width: 130px;
    height: 60px;
    background: none;
    display: inline-flex;
    position: relative;
    min-width: 69.33px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
  }
  .log-6933x32bgnone-AcRe-MaRe-media130x60 .hlegal {
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
  }
  .log-6933x32bgnone-AcRe-MaRe-media130x60 svg path {
    fill: #323264;
  }
  .log-6933x32bgnone-AcRe-MaRe-media130x60 svg :first-child {
    fill: #f0145a;
  }
}

.log-slash-namepage-inter4px {
  display: inline-flex;
  align-items: flex-start;
}
.log-slash-namepage-inter4px :nth-child(2n) {
  margin: 0 4px;
}

.Fs36 {
  font-size: 36px;
}

.Fs30 {
  font-size: 30px;
}

.Fs19 {
  font-size: 19px;
}

.Lh20 {
  line-height: 20px;
}

.Lh37 {
  line-height: 37px;
}

.Lh44 {
  line-height: 44px;
}

.Lh158 {
  line-height: 158%;
}

.MarTop28 {
  margin-top: 28px;
}

.MarTop30 {
  margin-top: 30px;
}

.MarTop40 {
  margin-top: 40px;
}

.MarTop60 {
  margin-top: 60px;
}

.MarLeft34 {
  margin-left: 34px;
}

.Marright8 {
  margin-right: 8px;
}

.BorLeft4-GrSe {
  border-left: 4px solid #e6e6f0;
}

.DisInl {
  display: inline;
}

.flex-center {
  display: flex;
  align-items: center;
}

.Col-MaRe {
  color: #323264;
}

.NamePage-height44-fs36-lh44-MaRe {
  height: 44px;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
  display: inline-flex;
  position: relative;
  margin-block: 0px;
}

.header {
  position: fixed;
  min-width: 250px;
  z-index: 20;
  background: #ffffff;
  min-height: 102px;
}
.header .boxgrey {
  z-index: -1;
  display: flex;
  height: 0px;
  width: 100vw;
  height: 45px;
  background: #f5f5fa;
}
.header .language-nav {
  position: absolute;
  top: 10px;
  left: 15px;
}
.header .language-nav ul {
  list-style-type: none;
  display: inline-flex;
}
.header .language-nav ul li {
  font-size: unset;
  line-height: unset;
}
.header .language-nav ul li a {
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #B3B3BA;
  height: 25px;
  width: 33px;
  align-items: center;
  justify-content: center;
}
.header .language-nav ul .active-language a {
  background: #f0145a;
  border-radius: 8px;
  color: #ffffff;
}
.header .contact-information {
  position: absolute;
  right: 15px;
  top: 12.5px;
  list-style-type: none;
}
.header .contact-information li {
  display: none;
}
.header .contact-information li img {
  display: none;
}
.header .contact-information li a {
  color: #B3B3BA;
}
.header .contact-information :nth-child(2) {
  display: block;
}
.header .contact-information :nth-child(2) a {
  font-weight: 700;
}
.header .log-slash-namepage-inter4px {
  position: absolute;
  left: 15px;
  top: 57.5px;
}
.header .log-slash-namepage-inter4px .NamePage-height44-fs36-lh44-MaRe {
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  display: inline-flex;
  position: relative;
  margin-block: 0px;
}
.header .hamburgersvg {
  position: absolute;
  float: right;
  top: 57.5px;
  right: 15px;
}
.header input,
.header .hamburgermenu {
  display: none;
  position: absolute;
  top: 0;
}
.header input:checked ~ .hamburgermenu {
  min-height: 162px;
  display: flex;
  background: #323264;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.header input:checked ~ .hamburgermenu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  gap: 20px;
  position: fixed;
  width: calc(100vw - 16px - 24px);
  right: 8px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}
.header input:checked ~ .hamburgermenu nav label {
  width: 32px;
  height: 32px;
}
.header input:checked ~ .hamburgermenu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  align-self: center;
  justify-content: space-between;
}
.header input:checked ~ .hamburgermenu nav ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw + 335px - 375px);
  height: 6.4467766vh;
  padding: 7px 0px;
  background: #f5f5fa;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  min-height: 20px;
  max-height: 43px;
}
.header input:checked ~ .hamburgermenu nav ul li a:hover {
  background: #e6e6f0;
  color: #24a3ff;
}
.header input:checked ~ .hamburgermenu nav ul li .active-page {
  color: #f0145a;
}

.footer {
  display: flex;
  position: relative;
  width: 100vw;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  background: #f5f5fa;
}
.footer .separator {
  background: #e6e6f0;
  height: 2px;
  left: 30px;
  right: 30px;
  position: absolute;
}
.footer ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto 0;
}
.footer ul li a {
  font-weight: 700;
}
.footer .footer-adress-OnMap li a {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
}
.footer .footer-contact-information :first-child {
  height: 38px;
}
.footer .footer-contact-information :nth-child(2) a {
  color: #46466e;
}
.footer .llc {
  color: #B3B3BA;
  line-height: 20px;
  margin: 30px auto;
}

@media (min-width: 768px) {
  body .header {
    height: 220px;
    width: 100vw;
    background: #ffffff;
  }
  body .header .boxgrey {
    display: none;
  }
  body .header .language-nav {
    top: 50px;
    left: 60px;
  }
  body .header .contact-information {
    display: flex;
    top: 50px;
    left: 159px;
    width: 383px;
    justify-content: space-between;
  }
  body .header .contact-information li {
    display: inline-flex;
    height: 25px;
  }
  body .header .contact-information li img {
    display: block;
    width: 6px;
    height: 6px;
    margin: auto 6px;
  }
  body .header .contact-information li a {
    line-height: inherit;
  }
  body .header .contact-information :nth-child(2) {
    display: inline-flex;
  }
  body .header .log-slash-namepage-inter4px {
    left: 60px;
    top: 105px;
  }
  body .header .log-slash-namepage-inter4px .NamePage-height44-fs36-lh44-MaRe {
    width: 159px;
    height: 44px;
    font-size: 36px;
    line-height: 44px;
  }
  body .header .lebel-hamburger {
    display: none;
  }
  body .header .hamburgermenu {
    top: 195px;
    left: 60px;
    display: inline;
    height: 45px;
  }
  body .header .hamburgermenu label {
    display: none;
  }
  body .header .hamburgermenu ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  body .header .hamburgermenu ul li a {
    margin-right: 15px;
    font-weight: 700;
  }
  body .header .hamburgermenu ul li a:hover {
    border-bottom: 2px solid;
    color: #24a3ff;
  }
  body .header .hamburgermenu ul li .active-page {
    color: #f0145a;
    border-bottom: 2px solid;
  }
  body .footer .separator {
    left: 60px;
    right: 60px;
  }
  body .footer ul {
    list-style-type: disc;
    display: flex;
    flex-direction: row;
  }
  body .footer ul li::marker {
    color: #B3B3BA;
  }
  body .footer ul :first-child {
    list-style-type: none;
  }
  body .footer ul :nth-child(n+2) {
    margin-left: 26px;
  }
  body .footer .footer-contact-information {
    margin: 21px auto 0;
  }
}
@media (min-width: 1024px) {
  body .header {
    height: 116px;
  }
  body .header .language-nav {
    right: 442px;
    left: auto;
  }
  body .header .contact-information {
    right: 60px;
    left: auto;
  }
  body .header .log-slash-namepage-inter4px {
    left: 60px;
    top: 50px;
  }
  body .header .hamburgermenu {
    top: 91px;
    left: auto;
    right: 60px;
  }
  body .header .hamburgermenu ul :nth-last-child(1) a {
    margin-right: 0px;
  }
  body .header .boxheader {
    height: 176px;
  }
  body .footer {
    height: 141px;
  }
  body .footer .separator {
    position: absolute;
    top: 0;
  }
  body .footer .footer-adress-OnMap {
    position: absolute;
    left: 60px;
    top: 32px;
    margin: 0;
  }
  body .footer .footer-contact-information {
    position: absolute;
    left: 60px;
    top: 73px;
    margin: 0;
  }
  body .footer .llc {
    position: absolute;
    right: 60px;
    top: 32px;
    margin: 0;
  }
}
@media (min-width: 1920px) {
  body .header .language-nav {
    right: 542px;
    left: auto;
  }
  body .header .contact-information {
    right: 160px;
    left: auto;
  }
  body .header .log-slash-namepage-inter4px {
    left: 160px;
  }
  body .header .hamburgermenu {
    top: 91px;
    left: auto;
    right: 160px;
  }
  body .header .hamburgermenu ul :nth-last-child(1) a {
    margin-right: 0px;
  }
  body .footer .footer-adress-OnMap {
    left: 160px;
  }
  body .footer .footer-contact-information {
    left: 160px;
  }
  body .footer .llc {
    right: 160px;
  }
}
.content {
  position: relative;
  margin: 132px 30px 0;
}
.content .Introduction {
  min-height: 274px;
}
.content .TeamText {
  display: flex;
  position: relative;
  margin: 30px -30px 0;
  width: 100vw;
  min-height: 114.06px;
  background: no-repeat center/cover url(../images/photo/Team.svg);
  align-items: center;
  justify-content: center;
  aspect-ratio: 375/114.06;
}
.content .TeamText h2 {
  position: absolute;
  font-size: 36px;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}
.content .achievements {
  display: flex;
  margin: 60px -30px -3px;
  width: 100vw;
  min-height: 243px;
  background-color: #f5f5fa;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content .achievements div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .achievements div .achievementsimg {
  display: none;
  background-color: #ffffff;
  height: 90px;
  width: 255px;
  border-radius: 12px;
}
.content .achievements div .achievementsimg div {
  height: 90px;
  width: 255px;
}
.content .achievements div :first-child {
  display: inline-block;
}
.content .achievements .Pagination ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.content .achievements .Pagination ul li label {
  cursor: pointer;
}
.content .achievements .Pagination ul li label svg > circle:hover {
  opacity: 0.6;
}
.content .achievements .Pagination ul :nth-child(2n) {
  margin: auto 14px;
}
.content .achievements .Pagination ul :last-child {
  margin-right: 0;
}
.content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img1 div {
  background: no-repeat center/53.33px url(../images/Assets/Achievments/Achievment-1.png);
}
.content .achievements #achievements__tab2:checked ~ .achievementsimgblock .img1 div {
  background: no-repeat center/106px url(../images/Assets/Achievments/Achievment-2.png);
}
.content .achievements #achievements__tab3:checked ~ .achievementsimgblock .img1 div {
  background: no-repeat center/130px url(../images/Assets/Achievments/Achievment-3.png);
}
.content .achievements #achievements__tab4:checked ~ .achievementsimgblock .img1 div {
  background: no-repeat center/110.67px url(../images/Assets/Achievments/Achievment-4.png);
}
.content .achievements #achievements__tab1:checked ~ .Pagination ul > li .circle__tab1 svg > circle {
  fill: #24a3ff;
  opacity: 1;
}
.content .achievements #achievements__tab2:checked ~ .Pagination ul > li .circle__tab2 svg > circle {
  fill: #24a3ff;
  opacity: 1;
}
.content .achievements #achievements__tab3:checked ~ .Pagination ul > li .circle__tab3 svg > circle {
  fill: #24a3ff;
  opacity: 1;
}
.content .achievements #achievements__tab4:checked ~ .Pagination ul > li .circle__tab4 svg > circle {
  fill: #24a3ff;
  opacity: 1;
}
.content .achievements input {
  display: none;
}

@media (min-width: 768px) {
  body .content {
    margin: 280px 60px 0;
  }
  body .content .TeamText {
    margin: 60px -60px 0;
  }
  body .content .TeamText h2 {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 63px;
  }
  body .content .achievements {
    margin: 60px -60px -3px;
  }
  body .content .achievements .achievementsimgblock {
    width: calc(100vw - 120px);
  }
  body .content .achievements .achievementsimgblock .achievementsimg {
    display: inline-block;
    width: 132px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg div {
    width: 132px;
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img1 div {
    background: no-repeat center/53.33px url(../images/Assets/Achievments/Achievment-1.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img2 div {
    background: no-repeat center/106px url(../images/Assets/Achievments/Achievment-2.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img3 div {
    background: no-repeat center/130px url(../images/Assets/Achievments/Achievment-3.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img4 div {
    background: no-repeat center/110.67px url(../images/Assets/Achievments/Achievment-4.png);
  }
}
@media (min-width: 1024px) {
  body .content {
    margin: 176px 60px 0;
  }
  body .content .Introduction {
    margin-right: calc((478/(1024 - 120)) * 100% - 60px);
  }
  body .content .Introduction h1 {
    font-size: 38px;
    line-height: 46px;
  }
  body .content .Advantages {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto 0 calc((576/(1024 - 120)) * 100% - 60px);
    width: 388px;
    height: 322px;
  }
  body .content .TeamText h2 {
    font-size: 86px;
    line-height: 105px;
  }
  body .content .AboutUsMore {
    position: relative;
  }
  body .content .AboutUsMore p {
    margin: 60px calc((482/(1024 - 120)) * 100% - 60px) auto auto;
  }
  body .content .AboutUsMore h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 60px 60px auto calc((602/(1024 - 120)) * 100% - 60px);
    font-size: 38px;
    line-height: 46px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg {
    width: 196px;
    height: 110px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg div {
    width: 196px;
    height: 110px;
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img1 div {
    background: no-repeat center/80px url(../images/Assets/Achievments/Achievment-1.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img2 div {
    background: no-repeat center/159px url(../images/Assets/Achievments/Achievment-2.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img3 div {
    background: no-repeat center/195px url(../images/Assets/Achievments/Achievment-3.png);
  }
  body .content .achievements #achievements__tab1:checked ~ .achievementsimgblock .img4 div {
    background: no-repeat center/166px url(../images/Assets/Achievments/Achievment-4.png);
  }
}
@media (min-width: 1440px) {
  body .content {
    margin: 176px 180px 0;
  }
  body .content .Introduction {
    margin-right: calc((598/(1440 - 360)) * 100% - 180px);
  }
  body .content .Advantages {
    margin: 0 auto 0 calc((872/(1440 - 360)) * 100% - 180px);
  }
  body .content .TeamText {
    margin: 60px -180px 0;
  }
  body .content .TeamText h2 {
    font-size: 96px;
    line-height: 117px;
  }
  body .content .AboutUsMore p {
    margin: 60px calc((602/(1440 - 360)) * 100% - 180px) auto auto;
  }
  body .content .AboutUsMore h1 {
    margin: 60px auto auto calc((898/(1440 - 360)) * 100% - 180px);
  }
  body .content .achievements {
    margin: 60px -180px -3px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg {
    width: 300px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg div {
    width: 300px;
  }
}
@media (min-width: 1920px) {
  body .content {
    margin: 176px 280px 0;
  }
  body .content .Introduction {
    margin-right: calc((698/(1920 - (280 * 2))) * 100% - 180px);
  }
  body .content .Advantages {
    margin: 0 auto 0 calc((1252/(1920 - (280 * 2))) * 100% - 280px);
  }
  body .content .TeamText {
    margin: 60px -280px 0;
  }
  body .content .AboutUsMore p {
    margin: 60px calc((702/(1920 - (280 * 2))) * 100% - 280px) auto auto;
  }
  body .content .AboutUsMore h1 {
    margin: 60px auto auto calc((1278/(1920 - (280 * 2))) * 100% - 280px);
  }
  body .content .achievements {
    margin: 60px -280px -3px;
  }
  body .content .achievements .achievementsimgblock {
    width: calc(100vw - (160px*2));
  }
  body .content .achievements .achievementsimgblock .achievementsimg {
    width: 370px;
  }
  body .content .achievements .achievementsimgblock .achievementsimg div {
    width: 370px;
  }
}
html {
  overflow-x: hidden;
}

.phototeam1 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-1.png);
}

.phototeam2 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-2.png);
}

.phototeam3 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-3.png);
}

.phototeam4 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-4.png);
}

.phototeam5 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-5.png);
}

.phototeam6 {
  background: no-repeat center/100% url(../images/photo/Team_photos/Team-6.png);
}

.content h1 {
  font-size: 30px;
  line-height: 37px;
}
.content .team article {
  margin-top: 30px;
  position: relative;
  width: calc(100vw - (30px * 2));
}
.content .team article input {
  display: none;
}
.content .team article .photo {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}
.content .team article label h4 {
  margin-top: 15px;
}
.content .team article label h4:hover {
  color: #f0145a;
}
.content .team article .buttonmore {
  position: absolute;
  right: 0px;
  top: 315px;
  border-radius: 50%;
  transform: rotate(-90deg);
}
.content .team article .intertext {
  display: none;
}
.content .team:last-child {
  margin-bottom: 60px;
}